<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BeanstalkNode</title>
        <meta name="description" content="beanstalkd in node.js">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/core.css">

        <style>

        	input:focus,
			select:focus,
			textarea:focus,
			button:focus {
			    outline: none !important;
			}

        	#allPosts {
			    resize: none;
			    font-size: 12px;
			    border-radius: 5px;
			    border: #ccc solid 1px;
			    line-height: 14px;
			    height:100px;
			    overflow: scroll;
			}

			p{
		    	margin:0;
		    	padding:0;
		    }

		</style>
    </head>
    <body>

	<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->


    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Clients</div>

      <!-- Table -->
      <table class="table">
          <thead>
              <tr>
              <th>IP address</th>
              <th>Tube</th>
              <th>Job ID</th>
              <th>Reserving</th>
              </tr>
          </thead>
          <tr>
              <td>IP address</td>
              <td>Tube</td>
              <td>Job ID</td>
              <td>Reserving</td>
          </tr>
      </table>
    </div>


    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Jobs</div>

      <!-- Table -->
      <table class="table">
          <thead>
              <tr>
              <th>Job Id</th>
              <th>Tube</th>
              <th>State</th>
              <th>TTR</th>
              <th>Priority</th>
              <th>Client</th>
              </tr>
          </thead>
          <tr>
            <td>Job Id</td>
            <td>Tube</td>
            <td>State</td>
            <td>TTR</td>
            <td>Priority</td>
            <td>Client</td>
          </tr>
      </table>
    </div>


    <!-- jQuery -->
    <script src="/components/jquery/dist/jquery.min.js"></script>

    <!-- Base theme -->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type='text/javascript' src='/components/knockout/dist/knockout.js'></script>

    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    </body>
</html>
