<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BeanstalkNode</title>
        <meta name="description" content="beanstalkd in node.js">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>

        	input:focus,
			select:focus,
			textarea:focus,
			button:focus {
			    outline: none !important;
			}

			p{
		    	margin:0;
		    	padding:0;
		    }

		</style>
    </head>
    <body>

	<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->


    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Clients</div>

      <!-- Table -->
      <table class="table">
          <thead>
              <tr>
                  <th>IP address</th>
                  <th>Tube</th>
                  <th>State</th>
                  <th>TTR</th>
                  <th>Priority</th>
                  <th>Job ID</th>
              </tr>
          </thead>
          <tbody data-bind="foreach:jobs">
              <tr>
                  <td><span data-bind="text:ipaddress"></span></td>
                  <td><span data-bind="text:tube"></span></td>
                  <td><span data-bind="text:state"></span></td>
                  <td><span data-bind="text:time_to_run"></span></td>
                  <td><span data-bind="text:priority"></span></td>
                  <td><span data-bind="text:job_id"></span></td>
              </tr>
          </tbody>
      </table>
    </div>


    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Jobs</div>

      <!-- Table -->
      <table class="table">
          <thead>
              <tr>
                  <th>Job Id</th>
                  <th>Tube</th>
                  <th>State</th>
                  <th>TTR</th>
                  <th>Priority</th>
                  <th>Client IP</th>
              </tr>
          </thead>
          <tbody data-bind="foreach:jobs">
              <tr>
                  <td><span data-bind="text:id"></span></td>
                  <td><span data-bind="text:tube"></span></td>
                  <td><span data-bind="text:state"></span></td>
                  <td><span data-bind="text:time_to_run"></span></td>
                  <td><span data-bind="text:priority"></span></td>
                  <td><span data-bind="text:client_ip"></span></td>
              </tr>
          </tbody>
      </table>
    </div>


    <!-- jQuery -->
    <script src="/components/jquery/dist/jquery.min.js"></script>

    <!-- Base theme -->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type='text/javascript' src='/components/knockout/dist/knockout.js'></script>

    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <script>
        $( document ).ready(function() {
            ko.applyBindings(vm);

            vm.retrieveJobData();
            vm.retrieveClientData();
        });

        var BeanJob = function(data)
        {
            var self = this;
            self.id = ko.observable(data.id);
            self.tube = ko.observable(data.tube);
            self.eventCounts = ko.observableArray(data.eventCounts);
            self.state = ko.observable(data.state);
            self.time_to_run = ko.observable(data.time_to_run);
            self.delay_until = ko.observable(data.delay_until);
            self.timeout_at = ko.observable(data.timeout_at);
            self.priority = ko.observable(data.priority);
            self.job_id = ko.observable(data.job_id);
        };

        var BeanClient = function(data)
        {
            var self = this;
            self.ipaddress = ko.observable(data.ipaddress);
            self.watching = ko.observableArray(data.watching);
            self.reserving = ko.observable(data.reserving);
            self.reserving_until = ko.observable(data.reserving_until);
            self.isProducer = ko.observable(data.isProducer);
            self.isWorker = ko.observable(data.isWorker);
            self.client_ip = ko.observable(data.client_ip);
        };

        var viewModel = function(){
            var self = this;

            self.jobs = ko.observableArray([]);
            self.clients = ko.observableArray([]);

            self.retrieveClientData = function() {
                $.ajax({
                    url: "/clients",
                    dataType: 'json'
                }).done(function(incoming) {
                    self.clients.removeAll();
                    $.each(incoming, function(idx, item){
                        self.clients.push(new BeanClient(item));
                    });

                    setTimeout(self.retrieveClientData, 3000);
                });
            };

            self.retrieveJobData = function() {
                $.ajax({
                    url: "/jobs",
                    dataType: 'json'
                }).done(function(incoming) {
                    self.jobs.removeAll();
                    $.each(incoming, function(idx, item){
                        self.jobs.push(new BeanJob(item));
                    });

                    setTimeout(self.retrieveJobData, 3000);
                });
            }
        };

        var vm = new viewModel();
    </script>

    </body>
</html>
